<div class="bg-black">
  <app-navbar></app-navbar>

  <!--Jumbotron-->
  <section [ngStyle]="{'background-image': 'url(https://wallpapers.com/images/hd/netflix-background-6eijmcazwfrb9u6w.jpg)'}" class="mb-4 bg-center bg-cover bg-no-repeat bg-[url('https://image.tmdb.org/t/p/original/rLb2cwF3Pazuxaj0sRXQ037tGI1.jpg')] bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    </div>
</section>

  <!--My Movies List-->
<h2 *ngIf="myMoviesList.length !== 0" class="text-2xl m-4 pt-4 pl-8 font-bold text-white">{{'myMoviesList' | translate }}</h2>
<div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
    <div class="flex flex-nowrap ml-4">
    <div *ngFor="let item of myMoviesList" class="da relative flex-col justify-start overflow-hidden m-4 bg-gray-900">
        <div class="absolute inset-0 bg-center dark:bg-black"></div>
        <div class="group relative m-0 flex rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:max-w-lg">
          <div class="z-10 w-64 h-64 max-w-xs overflow-hidden rounded-xl opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
             <!--delete icon-->
             <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute mt-48 ml-28 w-4 bg-transparent text-gray-800 rounded-lg shadow-lg py-2 z-10">
              <button (click)="deleteFavourites(item.id)" type="button" class="text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>
                <span class="sr-only">Icon description</span>
                </button>
            </div>
            <img src="https://image.tmdb.org/t/p/original/{{ item.poster_path }}" [routerLink]="['/review',item.id]" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
          </div>
        </div>
      </div>
</div>
</div>




<!--My TV Shows List-->
<h2 *ngIf="myTvShowsList.length !== 0" class="text-2xl m-4 pt-4 pl-8 font-bold text-white">{{'myTvshowsList' | translate }}</h2>
<div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
    <div class="flex flex-nowrap ml-4">
    <div *ngFor="let item of myTvShowsList" class="da relative flex-col justify-start overflow-hidden m-4 bg-gray-900">
        <div class="absolute inset-0 bg-center dark:bg-black"></div>
        <div class="group relative m-0 flex rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:max-w-lg">
          <div class="z-10 w-64 h-64 max-w-xs overflow-hidden rounded-xl opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
             <!--delete icon-->
             <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute mt-48 ml-28 w-4 bg-transparent text-gray-800 rounded-lg shadow-lg py-2 z-10">
              <button (click)="deleteFavourites(item.id)" type="button" class="text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>
                <span class="sr-only">Icon description</span>
                </button>
            </div>
            <img src="https://image.tmdb.org/t/p/original/{{ item.poster_path }}" [routerLink]="['/review-tv',item.id]" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
          </div>
        </div>
      </div>
</div>
</div>
</div>
