
<!--My Movies List-->
<h2 class="text-2xl m-4 pt-4 pl-8 font-bold text-white">{{'myMoviesList' | translate }}</h2>
<div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
    <div class="flex flex-nowrap ml-4">
    <div *ngFor="let item of myMoviesList" class="da relative flex-col justify-start overflow-hidden m-4 bg-gray-900">
        <div class="absolute inset-0 bg-center dark:bg-black"></div>
        <div class="group relative m-0 flex rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:max-w-lg">
          <div class="z-10 w-64 h-64 max-w-xs overflow-hidden rounded-xl opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
            <img src="https://image.tmdb.org/t/p/original/{{ item.poster_path }}" [routerLink]="['/review',item.id]" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
          </div>
 <!--         <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
            <h1 class="font-serif text-2xl font-bold text-white shadow-xl"></h1>
            <h1 class="text-sm font-light text-gray-200 shadow-xl">{{item.title}}</h1>
          </div>-->
        </div>
      </div>
</div>
</div>

<!--My TV Shows List-->
<h2 class="text-2xl m-4 pt-4 pl-8 font-bold text-white">{{'myTvshowsList' | translate }}</h2>
<div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
    <div class="flex flex-nowrap ml-4">
    <div *ngFor="let item of myTvShowsList" class="da relative flex-col justify-start overflow-hidden m-4 bg-gray-900">
        <div class="absolute inset-0 bg-center dark:bg-black"></div>
        <div class="group relative m-0 flex rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:max-w-lg">
          <div class="z-10 w-64 h-64 max-w-xs overflow-hidden rounded-xl opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
            <img src="https://image.tmdb.org/t/p/original/{{ item.poster_path }}" [routerLink]="['/review',item.id]" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
          </div>
 <!--         <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
            <h1 class="font-serif text-2xl font-bold text-white shadow-xl"></h1>
            <h1 class="text-sm font-light text-gray-200 shadow-xl">{{item.title}}</h1>
          </div>-->
        </div>
      </div>
</div>
</div>